# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*

# Ignore Byebug command history file.
.byebug_history

# Ignore spec and test file.
/spec/*
/test/*

# Ignore database config file.
/config/database.yml

# Ignore database seed and schema
/db/seeds.rb
/db/schema.rb

terminal.glue
