<% provide(:title, t(:"category.name") ) %>
<div class="row">
  <aside class="col-md-4">
    <section class="category_info">
      <h1>
        <%= @category.name %>
      </h1>
      <br>
      <p>
        <%= @category.description %>
      </p>
    </section>
  </aside>
</div>
