<li>
  <%= gravatar_for user, size: Settings.gravatar_size %>
  <%= link_to user.name, user %> |
  <%= link_to t("user.delete"), admin_user_path(user.id), method: :delete,
    data: {confirm: t("user.delete_cf")} %>
</li>
